body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }

  .red {
    color: red;
  }

}

@media (max-width: 991.98px) { 

}
